{
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "script"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "quotes": [
      "warn",
      "single"
    ],
    "@typescript-eslint/indent": [
      "error",
      2,
      {
        "ignoredNodes": ["Decorator"],
        "FunctionDeclaration": {
          "parameters": 2
        },
        "FunctionExpression": {
          "parameters": 2
        },
        "SwitchCase": 1
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/keyword-spacing": [
      "error",
      {
        "after": true
      }
    ],
    "@typescript-eslint/no-empty-function": [
      "warn",
      {
        "allow": [
          "constructors",
          "decoratedFunctions"
        ]
      }
    ],
    "@typescript-eslint/explicit-member-accessibility": [
      "warn",
      {
        "accessibility": "explicit",
        "overrides": {
          "constructors": "no-public"
        }
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
